@import './reset';

$cod-grey: #414042;
$celtic: #1a2f20;
$mantis: #79ca70;
$red: #c00;
$onyx: #131313;
$light-grey: #e6e7e8;
$button-side: 70px;

body {
  background: $cod-grey;
  color: white;

  button {
    border: 0;
    outline: 0;
    background: none;
  }

  #content {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .stopwatch {
      width: 90vw;
      margin: 50px auto;

      .stopwatch-timer {
        font-size: 5em;
        text-align: center;
      }

      .button-group {
        margin: 25px 0;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;

        &.has-two-buttons {
          justify-content: space-between;
        }

        button {
          border-radius: calc(#{$button-side} / 2);
          width: $button-side;
          height: $button-side;
          background: $light-grey;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 1em;

          &.start-btn {
            background: $celtic;
            color: $mantis;
          }

          &.stop-btn {
            background: $red;
            color: white;
          }
        }
      }

      .stopwatch-laps {
        display: flex;
        flex-direction: column-reverse;
        margin: 30px auto;

        .stopwatch-lap {
          border-bottom: thin solid $onyx;
          padding: 8px 10px;
          display: flex;
          justify-content: space-between;

          .time-group {
            .number {
              margin: 0 10px 0;
            }

            .time {
              font-weight: 800;
            }
          }

          button {
            color: $red;
          }

          &:last-child {
            border-top: thin solid $onyx;
          }
        }
      }
    }
  }
}
